<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>SoftGNet</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Roberto Molina Gonzaléz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

        </ul>
        <form class="d-flex" role="search">
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Breezeicons-actions-22-im-user.svg/1200px-Breezeicons-actions-22-im-user.svg.png" class="log" width="40" alt="">
              <div class="user">
                {{ user_ }}
              </div> 
        </form>
      </div>
    </div>
  </nav>

  <div class="continer">
      <div class="options">
        <br>

        <form>
          <div style="text-align: center;">
            <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
          </div>
          
          <h1 class="h3 mb-3 fw-normal">Plese Enter your Data</h1>
        
          <div class="form-floating">
            <!-- <input [(ngModel)]="person.firstName" name="first"> -->
            <input type="txt" [(ngModel)]="dapp.firs_name" class="form-control" [ngModelOptions]="{standalone: true}"  placeholder="enter user">
            <label for="floatingInput">Firs Name</label>
          </div>
          <div class="form-floating">
            <input type="text" [(ngModel)]="dapp.last_name" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Password">
            <label for="floatingPassword">Last Name</label>
          </div>
          <div class="form-floating">
            <input type="text" [(ngModel)]="dapp.phone" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Password">
            <label for="floatingPassword">Phone</label>
          </div>
          <div class="form-floating">
            <input type="date" [(ngModel)]="dapp.dob" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Password">
            <label for="floatingPassword">Dob</label>
          </div>
          <div class="form-floating">
            <input type="text" [(ngModel)]="dapp.ssn" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Password">
            <label for="floatingPassword">ssn</label>
          </div>
          <div class="form-floating">
            <input type="text" [(ngModel)]="dapp.address" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Password">
            <label for="floatingPassword">Address</label>
          </div>
        
          <div class="form-floating">
            <input type="text" [(ngModel)]="dapp.city" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Password">
            <label for="floatingPassword">City</label>
          </div>
          <div class="form-floating">
            <input type="text" [(ngModel)]="dapp.zip" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Password">
            <label for="floatingPassword">Zip</label>
          </div>
        <br><br>
          <button class="w-100 btn btn-lg btn-primary"  (click)="OnSubmit()">Add  <i class="far fa-id-badge"></i> </button>
          <p class="mt-5 mb-3 text-muted" style="text-align: center;">SoftGNet &copy;2022</p>
        </form>

      </div>
  </div>
