<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>SoftGNet</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Roberto Molina Gonzaléz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

        </ul>
        <form class="d-flex" role="search">
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Breezeicons-actions-22-im-user.svg/1200px-Breezeicons-actions-22-im-user.svg.png" class="log" width="40" alt="">
             {{ user_ }}
        </form>
      </div>
    </div>
  </nav>
  <div class="container">

    <div class="options">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card">
               
                <div class="card-body">
                  <h5 class="card-title">Crud Drivers</h5>
                  <button type="button" class="btn btn-primary" (click)="OnDrive()">Ingresar</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
               
                <div class="card-body">
                  <h5 class="card-title">Crud Vehicles</h5>
                  <button type="button" class="btn btn-primary" (click)="OnVehicles()">Ingresar</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
               
                <div class="card-body">
                  <h5 class="card-title">Crud Routes</h5>
                  <button type="button" class="btn btn-primary" (click)="OnRoute()">Ingresar</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
               
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <button type="button" class="btn btn-primary">Ingresar</button>
                </div>
              </div>
            </div>
          </div>
    </div>

  </div>
