<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>SoftGNet</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Roberto Molina Gonzaléz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

        </ul>
        <form class="d-flex" role="search">
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Breezeicons-actions-22-im-user.svg/1200px-Breezeicons-actions-22-im-user.svg.png" class="log" width="40" alt="">
             {{ user_ }}
        </form>
      </div>
    </div>
  </nav>

  <div class="continer">
      <div class="options">
        <h1>Crud Drives</h1>
        <br><br><br>
        <button type="button" class="btn btn-outline-primary" (click)="OnAdd()" >Añadir Nuevo</button>
        <br><br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Firs Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">SSN</th>
                <th scope="col">DOB</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">ZIP</th>
                <th scope="col">phone</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let art of data">
                <th scope="row">{{ art.id }}</th>
                <td>{{ art.firs_name }}</td>
                <td>{{ art.last_name }}</td>
                <td>{{ art.ssn }}</td>
                <td>{{ art.dob }}</td>
                <td>{{ art.address }}</td>
                <td>{{ art.city }}</td>
                <td>{{ art.zip }}</td>
                <td>{{ art.phone }}</td>
                <td>
                    <button type="button" class="btn btn-warning gh" (click)="OnEdit(art)"><i class="fa-solid fa-marker"></i></button> <!--editar-->
                    <button type="button" class="btn btn-danger gh" (click)="OnDelete(art)"><i class="fas fa-user-minus"></i></button> <!--borrar-->
                </td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
